   <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <h4>Реклама на Le Chtivo</h4>
          <p>Le Chtivo - это место, куда люди призодят для чтения свежих записей с качественными и интересными статьями и фотографиями о Мире, который нас окружает. У нас широкий охват тем: lifehack'и, еда, путешествия, книги и пресса, дизайн, предпринимательство и ведение бизнеса, инфонографика и прочее.</p>
          <p>Кто наша аудитория? Это молодые, активные люди, которые интересуются событиями в сфере дизайна, маркетинга, архитектуры, путешествий, бизнеса, а также просто любят посмотреть интересные фото или почитать что-то позновательное.</p>
          <p>Именно поэтому реклама на нашем сайте - это возможность привлечь внимание такой чудесной аудитории.</p>
        </div>

        <div class="large-6 columns">
          <p>Мы предлагаем 3 формата рекламы:
            <ol>
              <li><b>Медийная реклама</b> – размещение банеров на страницах сайта. На данный момент медийная реклама на сайте не размещается. Вы можете <a href="mailto:info@lechtivo.com">оставить заявку</a>, чтобы быть первым, когда мы запустим ее</li>
              <li><b>Платные записи</b> – если ваша компания/кафе/отель есть что рассказать о себе и своей продукции или показать - мы можем сделать отдельную публикацию посвященную вашей фирме и вашей продукции в формате платной публикации. Стоимость платной публикации составляет $100. <br>Цена закрепления поста сверху на главной странице сайта составляет $50 за неделю.</li>
              <li><b>Спецпроекты</b> – если заказ платных публикаций и/или медийной рекламы не для вас, тогда мы можем запустить спецпроект в котором вы выступите в качестве спонсора. Для примера, мы можем создать серию публикаций близкую к тематике вашего бренда, продвигать её всеми доступными нам методами (банеры, социальные сети). Стоимость спецпроектов и объем работ обсуждается индивидуально.</li>
            </ol>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <hr>
          <h4 class="text-center"> <b>Напишите</b> нам на <a href="mailto:info@lechtivo.com">Info@LeChtivo.com</a> и мы придумаем что-то <u>интересное</u> для вас!</h4>
        </div>
      </div>
    </div>
  </div>
